# Skills challenge \#11
Below are a series of questions. Use the loaded data to answer the questions. You will almost certainly need to import more packages (`pandas`, `numpy`, etc.) to complete these. You are welcome to use any source except for your classmates. So Google away!

You will be graded on both the **correctness** and **cleanliness** of your work. So don't submit poorly written code or your grade will reflect that. Use Markdown describing what you have done. If you get stuck, move on to another part. Most questions don't rely on the answer to earlier questions.

### Imports

In [55]:
import pandas as pd

import numpy as np
import time
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

### Data loading

In [13]:
df = pd.read_csv('../../data/flights_jan_2019.csv')

In [14]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

### Data description

This data is from all flights taken in January 2019.

## Tasks

### Memory usage
**MU1:** Show the amount of memory used by Pandas for each column of this dataframe, as well as the total usage. You should show it in MB.

In [15]:
df.memory_usage() / 10**6

Index                    0.000128
DAY_OF_MONTH             4.671880
DAY_OF_WEEK              4.671880
OP_UNIQUE_CARRIER        4.671880
OP_CARRIER_AIRLINE_ID    4.671880
OP_CARRIER               4.671880
TAIL_NUM                 4.671880
OP_CARRIER_FL_NUM        4.671880
ORIGIN_AIRPORT_ID        4.671880
ORIGIN_AIRPORT_SEQ_ID    4.671880
ORIGIN                   4.671880
DEST_AIRPORT_ID          4.671880
DEST_AIRPORT_SEQ_ID      4.671880
DEST                     4.671880
DEP_TIME                 4.671880
DEP_DEL15                4.671880
DEP_TIME_BLK             4.671880
ARR_TIME                 4.671880
ARR_DEL15                4.671880
CANCELLED                4.671880
DIVERTED                 4.671880
DISTANCE                 4.671880
Unnamed: 21              4.671880
dtype: float64

In [16]:
(df.memory_usage() / 10**6).sum()

102.78148800000001

**MU2:** For all integer columns, determine the smallest integer data type they can fit in. Then, load the data the again using `pd.read_csv(...)` and specify the data type for these columns using the `dtype` parameter. Show what the total memory usage is for this new dataframe.

In [17]:
df.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

We'll first grab all integer columns to check them out. You can do it by hand, or below is a fancier way to do it.

In [30]:
int_cols = df.select_dtypes(int).columns

int_cols

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_CARRIER_AIRLINE_ID',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID'],
      dtype='object')

Then, we'll go through each of these columns and look at the biggest and smallest values. That will tell us 1. if it could be negative, and 2. how big it can be.

In [31]:
for c in int_cols:
    print(f'{c}: min = {df[c].min()}, max = {df[c].max()}')

DAY_OF_MONTH: min = 1, max = 31
DAY_OF_WEEK: min = 1, max = 7
OP_CARRIER_AIRLINE_ID: min = 19393, max = 20452
OP_CARRIER_FL_NUM: min = 1, max = 7439
ORIGIN_AIRPORT_ID: min = 10135, max = 16218
ORIGIN_AIRPORT_SEQ_ID: min = 1013505, max = 1621802
DEST_AIRPORT_ID: min = 10135, max = 16218
DEST_AIRPORT_SEQ_ID: min = 1013505, max = 1621802

From looking at the [numpy data types](https://numpy.org/devdocs/user/basics.types.html) we see that `np.uint8` can record values up to 255, `np.uint16` up to 65,535, and `np.uint32` up to 4,294,967,295. We could certainly set the data type by hand, but I'll write a function to do it.

In [34]:
def set_dtypes(df, cols):
    dtypes = {}
    for c in cols:
        if df[c].max() < 256:
            dtypes[c] = np.uint8
        elif df[c].max() < 65536:
            dtypes[c] = np.uint16
        elif df[c].max() < 42949672956:
            dtypes[c] = np.uint32
        else:
            dtypes[c] = np.uint64
    return dtypes

In [36]:
dtypes = set_dtypes(df, int_cols)

dtypes

{'DAY_OF_MONTH': numpy.uint8,
 'DAY_OF_WEEK': numpy.uint8,
 'OP_CARRIER_AIRLINE_ID': numpy.uint16,
 'OP_CARRIER_FL_NUM': numpy.uint16,
 'ORIGIN_AIRPORT_ID': numpy.uint16,
 'ORIGIN_AIRPORT_SEQ_ID': numpy.uint32,
 'DEST_AIRPORT_ID': numpy.uint16,
 'DEST_AIRPORT_SEQ_ID': numpy.uint32}

Now we'll load the data again.

In [37]:
slim_df = pd.read_csv('../../data/flights_jan_2019.csv', dtype=dtypes)

In [38]:
(slim_df.memory_usage() / 10**6).sum()

75.91817800000001

**MU3:** Write a `for` loop to load the data 1000 rows at a time. From each row, randomly `sample` 100 rows and set those aside. At the end, create a DataFrame from the rows you sampled. Make sure at each step you are deleting the original data. A rough outline for your `for` loop is shown below.

In [ ]:
for i in range(num_times_to_loop):
    # Load the first 1000 rows (then the second 1000, then the third 1000, and so forth)
    # Sample 100 rows and set them aside
    # Delete the DataFrame of 1000 rows you just loaded
    
# Make the samples of 100 rows into one DataFrame.

### Timing computations

**TC1:** Suppose you wanted to make a new column `is_long` which is 1 if the flight is 500km or longer (the `DISTANCE` column), and 0 if it is less than 500km. There are (at least) two different ways you can do this:

1. Write a function to do it, then use the Pandas `.apply()` function
2. Write a `for` loop which goes through each row

Finish the sample code for each of these below. Print out how long each one takes.

In [41]:
# Approach #1

# Start the timer
start = time.process_time()

def is_long_fcn(x):
    if x >= 500:
        return 1
    else:
        return 0
    
df['is_long'] = df['DISTANCE'].apply(is_long_fcn)

# End the timer
end = time.process_time()

# Print out the total time
print(f'Approach #1 took {end - start:.3f}s')

Approach #1 took 0.215s

In [42]:
# Approach #2

# Start the timer
start = time.process_time()

n_rows = df.shape[0]

is_long = []
for i in range(n_rows):
    is_it_long = is_long_fcn(df['DISTANCE'].iloc[i])
    is_long.append(is_it_long)

df['is_long'] = is_long

# End the timer
end = time.process_time()

# Print out the total time
print(f'Approach #2 took {end - start:.3f}s')

Approach #2 took 4.489s

**TC2:** Especially for short running operations, if you re-run it multiple times you can get different amounts of processing time. Write a `for` loop which takes the code inside of it and runs it 10 times, records the computation time for each loop, and then at the end prints out the average computation time. Sample code is provided below. Do this for each of the two approaches in **TC1**.

In [46]:
time_took = []

for _ in range(10):
    # Approach #1

    # Start the timer
    start = time.process_time()

    def is_long_fcn(x):
        if x >= 500:
            return 1
        else:
            return 0

    df['is_long'] = df['DISTANCE'].apply(is_long_fcn)

    # End the timer
    end = time.process_time()

    # Print out the total time
    time_took.append(end - start)

print(f'Average time: {np.mean(time_took):.3f}s')

Average time: 0.192s

In [47]:
time_took = []

for _ in range(10):
    # Approach #2

    # Start the timer
    start = time.process_time()

    n_rows = df.shape[0]

    is_long = []
    for i in range(n_rows):
        is_it_long = is_long_fcn(df['DISTANCE'].iloc[i])
        is_long.append(is_it_long)

    df['is_long'] = is_long

    # End the timer
    end = time.process_time()

    # Print out the total time
    time_took.append(end - start)

print(f'Average time: {np.mean(time_took):.3f}s')

Average time: 4.581s

### Warm start

**WS1:** Train an XGBRegressor with `n_estimators=5` to predict `DISTANCE` using any two (or more) columns you want. Do so by loading 1000 rows at a time, training the model, deleting the loaded data, then loading the next 1000, and repeating. Be sure to specify `warm_start=True` when instantiating your model. You *do not* need to create train/test sets or evaluate your model. Time how long the total training time is and print it out.

In [54]:
start = time.process_time()

# The // operator divides then throws away the decimal. That way it only returns an integer
chunk_size = 1000
n_chunks = df.shape[0] // chunk_size

xgb_clf = XGBRegressor(n_estimators=5, warm_start=True)

for i in range(n_chunks):
    if i == 0:
        sub_df = pd.read_csv('../../data/flights_jan_2019.csv', nrows=chunk_size)
    else:
        sub_df = pd.read_csv('../../data/flights_jan_2019.csv', skiprows=(1, ((i+1)*chunk_size)), nrows=chunk_size)
        
    X = sub_df[['DEP_TIME', 'ARR_TIME']]
    y = sub_df['DISTANCE']
    xgb_clf.fit(X, y)
    
    del sub_df
    del X
    del y
    
# Fit on all of the remaining rows
sub_df = pd.read_csv('../../data/flights_jan_2019.csv', skiprows=(1, ((n_chunks+2)*chunk_size)))
X = sub_df[['DEP_TIME', 'ARR_TIME']]
y = sub_df['DISTANCE']
xgb_clf.fit(X, y)

del sub_df
del X
del y

end = time.process_time()

print(f'Training time: {end - start:.3f}s')

Training time: 25.706s

### Bonus

**B1:** Write a function which takes in the following parameters:

- Filename of the CSV file to read. So in the example data above it would be `'flights_jan_2019.csv'`
- Size of each chunk (how many rows to read at once)
- Number/percentage of rows to sample from each chunk
- (Optional) Test set size as a percentage. If this is not supplied, then there should be no test set 
- (Optional) Maximum number of chunks to go through. If not supplied, go through the entire CSV file

The function should return the sampled DataFrame. This is basically what you did above (and what we did in the class notebooks), but written in one nice function. Note that by "Optional" I mean that it is optional for the *user* to supply it, *not* that it's optional for you to put it in the function. A brief outline of the function is written below.

In [56]:
def sample_df(filename, chunk_size, sample_size, test_size=None, n_chunks=None):
    # This is mostly the code from WS1
    if n_chunks is None:
        n_chunks = df.shape[0] // chunk_size

    if test_size is not None:
        test_dfs = []
        train_dfs = []
    else:
        sample_dfs = []

    for i in range(n_chunks):
        if i == 0:
            sub_df = pd.read_csv(f'../../data/{filename}', nrows=chunk_size)
        else:
            sub_df = pd.read_csv(f'../../data/{filename}', skiprows=(1, ((i+1)*chunk_size)), nrows=chunk_size)

        sample_df = sub_df.sample(sample_size)
        if test_size is not None:
            train_sub_df, test_sub_df = train_test_split(sample_df, test_size=test_size)
            train_dfs.append(train_sub_df)
            test_dfs.append(test_sub_df)
            del train_sub_df
            del test_sub_df
        else:
            sample_dfs.append(sample_df)
            del sub_df
        del sample_df

    if test_size is not None:
        test_df = pd.concat(test_dfs)
        train_df = pd.concat(train_dfs)
        return train_df, test_df
    else:
        sample_df = pd.concat(sample_dfs)
        return sample_df

Test it out to make sure it works.

In [57]:
sample_df('flights_jan_2019.csv', 1000, 100)

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
18,1,2,9E,20363,9E,N8970D,3296,10397,1039707,ATL,...,AGS,1020.0,0.0,1000-1059,1111.0,0.0,0.0,0.0,143.0,NaN
346,1,2,AA,19805,AA,N914NN,99,12892,1289208,LAX,...,DFW,1825.0,0.0,1800-1859,2326.0,0.0,0.0,0.0,1235.0,NaN
570,1,2,AA,19805,AA,N549UW,1895,12892,1289208,LAX,...,PHX,602.0,0.0,0600-0659,821.0,0.0,0.0,0.0,370.0,NaN
848,1,2,OH,20397,OH,N582NN,5283,14307,1430705,PVD,...,CLT,1227.0,0.0,1200-1259,1452.0,0.0,0.0,0.0,683.0,NaN
605,1,2,AA,19805,AA,N912UY,1925,11057,1105703,CLT,...,LAX,946.0,0.0,0900-0959,1221.0,0.0,0.0,0.0,2125.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,1,2,AA,19805,AA,N961NN,367,12953,1295304,LGA,...,ORD,1227.0,0.0,1200-1259,1407.0,0.0,0.0,0.0,733.0,NaN
987,1,2,OH,20397,OH,N260JS,5120,14100,1410005,PHL,...,CAK,1807.0,0.0,1800-1859,1946.0,0.0,0.0,0.0,335.0,NaN
120,1,2,9E,20363,9E,N607LR,3387,15370,1537002,TUL,...,ATL,1025.0,0.0,1000-1059,1306.0,0.0,0.0,0.0,674.0,NaN
780,1,2,G4,20368,G4,253NV,1692,14082,1408202,PGD,...,LCK,622.0,0.0,0600-0659,827.0,0.0,0.0,0.0,890.0,NaN
360,1,2,AA,19805,AA,N337PJ,129,12953,1295304,LGA,...,ORD,921.0,0.0,0900-0959,1100.0,0.0,0.0,0.0,733.0,NaN

In [58]:
sample_df('flights_jan_2019.csv', 1000, 100, 0.1)

(     DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID  \
 76              1            2                9E                  20363
 924             1            2                OH                  20397
 472             1            2                AA                  19805
 164             1            2                9E                  20363
 351             1            2                AA                  19805
 ..            ...          ...               ...                    ...
 548             1            2                AA                  19805
 78              1            2                9E                  20363
 458             1            2                AA                  19805
 488             1            2                AA                  19805
 910             1            2                OH                  20397

     OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
 76          9E   N8839E               3346              11612
 924         OH   N503AE               5058              11996
 472         AA   N346AN               2380              14100
 164         9E   N935XJ               3423              11986
 351         AA   N922AN                114              13930
 ..         ...      ...                ...                ...
 548         AA   N125AA               2459              12892
 78          9E   N153PQ               3349              10208
 458         AA   N163AA               2372              11298
 488         AA   N842NN               2397              13930
 910         OH   N585NN               5338              11057

      ORIGIN_AIRPORT_SEQ_ID ORIGIN  ...  DEST  DEP_TIME DEP_DEL15  \
 76                 1161206    EVV  ...   DTW     824.0       0.0
 924                1199603    GSP  ...   CLT     738.0       0.0
 472                1410005    PHL  ...   LAS    1803.0       0.0
 164                1198603    GRR  ...   DTW    1738.0       0.0
 351                1393007    ORD  ...   LGA    1225.0       1.0
 ..                     ...    ...  ...   ...       ...       ...
 548                1289208    LAX  ...   DFW     753.0       0.0
 78                 1020803    AGS  ...   ATL     601.0       0.0
 458                1129806    DFW  ...   SAT    1740.0       0.0
 488                1393007    ORD  ...   MSP    1001.0       1.0
 910                1105703    CLT  ...   CHA    2018.0       1.0

      DEP_TIME_BLK  ARR_TIME ARR_DEL15  CANCELLED  DIVERTED  DISTANCE  \
 76      0800-0859    1035.0       0.0        0.0       0.0     363.0
 924     0700-0759     838.0       0.0        0.0       0.0      75.0
 472     1800-1859    2040.0       0.0        0.0       0.0    2176.0
 164     1700-1759    1904.0       1.0        0.0       0.0     120.0
 351     1000-1059    1522.0       1.0        0.0       0.0     733.0
 ..            ...       ...       ...        ...       ...       ...
 548     0700-0759    1250.0       0.0        0.0       0.0    1235.0
 78      0600-0659     704.0       0.0        0.0       0.0     143.0
 458     1700-1759    1852.0       0.0        0.0       0.0     247.0
 488     0800-0859    1116.0       1.0        0.0       0.0     334.0
 910     1900-1959    2128.0       1.0        0.0       0.0     241.0

      Unnamed: 21
 76           NaN
 924          NaN
 472          NaN
 164          NaN
 351          NaN
 ..           ...
 548          NaN
 78           NaN
 458          NaN
 488          NaN
 910          NaN

 [52470 rows x 22 columns],
      DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID  \
 565             1            2                AA                  19805
 280             1            2                AA                  19805
 606             1            2                AA                  19805
 962             1            2                OH                  20397
 870             1            2                OH                  20397
 ..            ...          ...               ...                    ...
 926             1            2                OH                  20397
 172             1            2                9E                  20363
 936             1            2                OH                  20397
 1               1            2                9E                  20363
 403             1            2                AA                  19805

     OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
 565         AA   N109UW               1891              11618
 280         AA   N711UW               1857              11057
 606         AA   N508AY               1925              12892
 962         OH   N559NN               5095              11057
 870         OH   N557NN               5304              11057
 ..         ...      ...                ...                ...
 926         OH   N720PS               5061              11057
 172         9E   N292PQ               3432              14492
 936         OH   N581NN               5072              15412
 1           9E   N8896A               3282              11433
 403         AA   N9620D                190              11298

      ORIGIN_AIRPORT_SEQ_ID ORIGIN  ...  DEST  DEP_TIME DEP_DEL15  \
 565                1161802    EWR  ...   CLT    1858.0       0.0
 280                1105703    CLT  ...   GSO    2104.0       1.0
 606                1289208    LAX  ...   PHL    1426.0       1.0
 962                1105703    CLT  ...   IAD    1953.0       0.0
 870                1105703    CLT  ...   MLB    2121.0       0.0
 ..                     ...    ...  ...   ...       ...       ...
 926                1105703    CLT  ...   FAY       1.0       0.0
 172                1449202    RDU  ...   TPA    1825.0       0.0
 936                1541205    TYS  ...   CLT     717.0       0.0
 1                  1143302    DTW  ...   CVG    1215.0       0.0
 403                1129806    DFW  ...   SAV    2039.0       0.0

      DEP_TIME_BLK  ARR_TIME ARR_DEL15  CANCELLED  DIVERTED  DISTANCE  \
 565     1900-1959    2102.0       0.0        0.0       0.0     529.0
 280     2000-2059    2146.0       1.0        0.0       0.0      83.0
 606     1400-1459    2157.0       0.0        0.0       0.0    2402.0
 962     1900-1959    2055.0       0.0        0.0       0.0     322.0
 870     2100-2159    2255.0       0.0        0.0       0.0     490.0
 ..            ...       ...       ...        ...       ...       ...
 926     2300-2359      50.0       0.0        0.0       0.0     118.0
 172     1800-1859    2020.0       0.0        0.0       0.0     587.0
 936     0700-0759     829.0       0.0        0.0       0.0     177.0
 1       1200-1259    1329.0       0.0        0.0       0.0     229.0
 403     2000-2059    2339.0       0.0        0.0       0.0     925.0

      Unnamed: 21
 565          NaN
 280          NaN
 606          NaN
 962          NaN
 870          NaN
 ..           ...
 926          NaN
 172          NaN
 936          NaN
 1            NaN
 403          NaN

 [5830 rows x 22 columns])

In [59]:
sample_df('flights_jan_2019.csv', 1000, 100, 0.1, 5)

(     DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID  \
 639             1            2                MQ                  20398
 630             1            2                MQ                  20398
 575             1            2                AA                  19805
 10              1            2                9E                  20363
 29              1            2                9E                  20363
 ..            ...          ...               ...                    ...
 110             1            2                9E                  20363
 59              1            2                9E                  20363
 331             1            2                AA                  19805
 536             1            2                AA                  19805
 431             1            2                MQ                  20398

     OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
 639         MQ   N243NN               3339              10620
 630         MQ   N246NN               3331              15370
 575         AA   N287AY               1899              13204
 10          9E   N311PQ               3289              10685
 29          9E   N8896A               3305              11203
 ..         ...      ...                ...                ...
 110         9E   N8974C               3379              10397
 59          9E   N605LR               3332              10868
 331         AA   N968NN                 54              12953
 536         AA   N951NN               2447              14683
 431         MQ   N824AE               3604              10990

      ORIGIN_AIRPORT_SEQ_ID ORIGIN  ...  DEST  DEP_TIME DEP_DEL15  \
 639                1062003    BIL  ...   DFW    1203.0       0.0
 630                1537002    TUL  ...   DFW    1242.0       0.0
 575                1320402    MCO  ...   PHL     907.0       0.0
 10                 1068502    BMI  ...   ATL    1410.0       0.0
 29                 1120302    CWA  ...   DTW     834.0       0.0
 ..                     ...    ...  ...   ...       ...       ...
 110                1039707    ATL  ...   AVL    1215.0       0.0
 59                 1086803    CAE  ...   ATL    1049.0       0.0
 331                1295304    LGA  ...   MIA    1218.0       0.0
 536                1468305    SAT  ...   ORD    1948.0       1.0
 431                1099005    CHO  ...   LGA    1952.0       0.0

      DEP_TIME_BLK  ARR_TIME ARR_DEL15  CANCELLED  DIVERTED  DISTANCE  \
 639     1200-1259    1550.0       0.0        0.0       0.0    1081.0
 630     1200-1259    1405.0       0.0        0.0       0.0     237.0
 575     0900-0959    1130.0       0.0        0.0       0.0     861.0
 10      1400-1459    1700.0       0.0        0.0       0.0     533.0
 29      0800-0859    1111.0       0.0        0.0       0.0     363.0
 ..            ...       ...       ...        ...       ...       ...
 110     1200-1259    1301.0       0.0        0.0       0.0     164.0
 59      1000-1059    1150.0       0.0        0.0       0.0     192.0
 331     1200-1259    1517.0       0.0        0.0       0.0    1096.0
 536     1800-1859    2214.0       1.0        0.0       0.0    1041.0
 431     2000-2059    2059.0       0.0        0.0       0.0     305.0

      Unnamed: 21
 639          NaN
 630          NaN
 575          NaN
 10           NaN
 29           NaN
 ..           ...
 110          NaN
 59           NaN
 331          NaN
 536          NaN
 431          NaN

 [450 rows x 22 columns],
      DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID  \
 865             1            2                OH                  20397
 55              1            2                9E                  20363
 319             1            2                AA                  19805
 813             1            2                G4                  20368
 332             1            2                AA                  19805
 56              1            2                9E                  20363
 775             1            2                G4                  20368
 52              1            2                9E                  20363
 684             1            2                MQ                  20398
 311             1            2                AA                  19805
 339             1            2                AA                  19805
 379             1            2                AA                  19805
 835             1            2                G4                  20368
 733             1            2                MQ                  20398
 841             1            2                G4                  20368
 83              1            2                9E                  20363
 940             1            2                OH                  20397
 105             1            2                9E                  20363
 185             1            2                9E                  20363
 809             1            2                G4                  20368
 562             1            2                AA                  19805
 874             1            2                OH                  20397
 50              1            2                9E                  20363
 134             1            2                9E                  20363
 9               1            2                9E                  20363
 680             1            2                MQ                  20398
 482             1            2                AA                  19805
 790             1            2                G4                  20368
 540             1            2                AA                  19805
 893             1            2                OH                  20397
 909             1            2                OH                  20397
 888             1            2                OH                  20397
 756             1            2                MQ                  20398
 241             1            2                AA                  19805
 455             1            2                AA                  19805
 426             1            2                AA                  19805
 759             1            2                MQ                  20398
 499             1            2                AA                  19805
 823             1            2                G4                  20368
 627             1            2                MQ                  20398
 378             1            2                AA                  19805
 745             1            2                MQ                  20398
 200             1            2                9E                  20363
 656             1            2                MQ                  20398
 546             1            2                AA                  19805
 205             1            2                9E                  20363
 825             1            2                G4                  20368
 5               1            2                9E                  20363
 464             1            2                AA                  19805
 84              1            2                9E                  20363

     OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
 865         OH   N516AE               5299              11057
 55          9E   N905XJ               3328              11193
 319         AA   N130AN                 14              13830
 813         G4    271NV               2177              11721
 332         AA   N968NN                 54              12953
 56          9E   N8946A               3329              10397
 775         G4    311NV                701              14262
 52          9E   N200PQ               3326              12448
 684         MQ   N667GB               3389              11193
 311         AA   N110AN                  4              12892
 339         AA   N820AL                 84              11298
 379         AA   N909AM                152              14771
 835         G4    232NV                818              14112
 733         MQ   N932AE               3434              11057
 841         G4    240NV                889              10135
 83          9E   N833AY               3355              10397
 940         OH   N596NN               5077              12451
 105         9E   N301PQ               3374              13487
 185         9E   N293PQ               5355              12478
 809         G4    311NV                700              10666
 562         AA   N717UW               1890              13244
 874         OH   N599NN               5308              10990
 50          9E   N341PQ               3325              12953
 134         9E   N8943A               3399              11193
 9           9E   N311PQ               3289              10685
 680         MQ   N622AE               3387              13930
 482         AA   N9615W               2389              14193
 790         G4    255NV                532              10466
 540         AA   N970NN               2450              14107
 893         OH   N534EA               5321              11267
 909         OH   N223JS               5337              13422
 888         OH   N578NN               5316              14524
 756         MQ   N689EC               3454              13303
 241         AA   N394AN                383              13303
 455         AA   N966TW               2368              11298
 426         AA   N194AA                224              11298
 759         MQ   N922AE               3456              15412
 499         AA   N931AN               2404              11298
 823         G4    254NV               2185              10627
 627         MQ   N824AE               3327              11042
 378         AA   N9013A                149              11503
 745         MQ   N612AE               3443              13290
 200         9E   N315PQ               5399              12339
 656         MQ   N822AE               3355              11298
 546         AA   N906NN               2458              14679
 205         9E   N310PQ               5412              11433
 825         G4    330NV               2728              14112
 5           9E   N915XJ               3286              12448
 464         AA   N987NN               2376              11697
 84          9E   N833AY               3355              12323

      ORIGIN_AIRPORT_SEQ_ID ORIGIN  ...  DEST  DEP_TIME DEP_DEL15  \
 865                1105703    CLT  ...   IND    1443.0       0.0
 55                 1119302    CVG  ...   MSP     817.0       1.0
 319                1383002    OGG  ...   LAX    2331.0       1.0
 813                1172105    FNT  ...   SFB    1534.0       1.0
 332                1295304    LGA  ...   MIA    1218.0       0.0
 56                 1039707    ATL  ...   GTR    1617.0       0.0
 775                1426204    PSP  ...   BLI    1144.0       0.0
 52                 1244807    JAN  ...   ATL     727.0       0.0
 684                1119302    CVG  ...   ORD    1903.0       1.0
 311                1289208    LAX  ...   JFK    1120.0       1.0
 339                1129806    DFW  ...   LAX    2242.0       1.0
 379                1477104    SFO  ...   DFW    1016.0       0.0
 835                1411206    PIE  ...   USA    1914.0       0.0
 733                1105703    CLT  ...   CAK    2354.0       0.0
 841                1013505    ABE  ...   PIE    1430.0       0.0
 83                 1039707    ATL  ...   ILM    1701.0       1.0
 940                1245102    JAX  ...   CLT    1031.0       0.0
 105                1348702    MSP  ...   CVG    1100.0       1.0
 185                1247805    JFK  ...   BUF    1117.0       0.0
 809                1066602    BLI  ...   PSP     822.0       0.0
 562                1324402    MEM  ...   CLT     904.0       0.0
 874                1099005    CHO  ...   CLT    1038.0       0.0
 50                 1295304    LGA  ...   JAX    1627.0       0.0
 134                1119302    CVG  ...   DTW    1826.0       1.0
 9                  1068502    BMI  ...   ATL    1410.0       0.0
 680                1393007    ORD  ...   CWA     810.0       0.0
 482                1419306    PNS  ...   DFW    1531.0       0.0
 790                1046602    AZA  ...   PVU     636.0       0.0
 540                1410702    PHX  ...   MSP    1328.0       0.0
 893                1126702    DAY  ...   CLT    1947.0       0.0
 909                1342202    MOB  ...   CLT     937.0       0.0
 888                1452401    RIC  ...   CLT    1751.0       0.0
 756                1330303    MIA  ...   IND    1359.0       0.0
 241                1330303    MIA  ...   SFO     727.0       0.0
 455                1129806    DFW  ...   BWI    1033.0       0.0
 426                1129806    DFW  ...   PHL     713.0       0.0
 759                1541205    TYS  ...   MIA     545.0       0.0
 499                1129806    DFW  ...   AUS    1234.0       0.0
 823                1062702    BIS  ...   SFB    1805.0       0.0
 627                1104205    CLE  ...   JFK     702.0       0.0
 378                1150305    EGE  ...   LAX    2028.0       1.0
 745                1329002    MHK  ...   ORD     528.0       0.0
 200                1233904    IND  ...   MSP    1609.0       0.0
 656                1129806    DFW  ...   DRT    1336.0       0.0
 546                1467903    SAN  ...   JFK     925.0       1.0
 205                1143302    DTW  ...   CLE    1224.0       0.0
 825                1411206    PIE  ...   IAG    1145.0       0.0
 5                  1244807    JAN  ...   ATL    1553.0       0.0
 464                1169706    FLL  ...   DFW    2258.0       0.0
 84                 1232305    ILM  ...   ATL    1840.0       0.0

      DEP_TIME_BLK  ARR_TIME ARR_DEL15  CANCELLED  DIVERTED  DISTANCE  \
 865     1400-1459    1619.0       0.0        0.0       0.0     427.0
 55      0700-0759     900.0       1.0        0.0       0.0     596.0
 319     2300-2359     725.0       1.0        0.0       0.0    2486.0
 813     1500-1559    1823.0       1.0        0.0       0.0     988.0
 332     1200-1259    1517.0       0.0        0.0       0.0    1096.0
 56      1600-1659    1621.0       0.0        0.0       0.0     241.0
 775     1100-1159    1446.0       0.0        0.0       0.0    1078.0
 52      0700-0759    1003.0       0.0        0.0       0.0     341.0
 684     0900-0959    1937.0       1.0        0.0       0.0     264.0
 311     1100-1159    1908.0       0.0        0.0       0.0    2475.0
 339     2200-2259      18.0       1.0        0.0       0.0    1235.0
 379     1000-1059    1553.0       1.0        0.0       0.0    1464.0
 835     1900-1959    2041.0       0.0        0.0       0.0     528.0
 733     2300-2359     116.0       0.0        0.0       0.0     394.0
 841     1400-1459    1659.0       0.0        0.0       0.0     970.0
 83      1600-1659    1814.0       0.0        0.0       0.0     377.0
 940     1000-1059    1156.0       0.0        0.0       0.0     328.0
 105     1000-1059    1339.0       1.0        0.0       0.0     596.0
 185     1100-1159    1241.0       0.0        0.0       0.0     301.0
 809     0800-0859    1051.0       0.0        0.0       0.0    1078.0
 562     0900-0959    1147.0       0.0        0.0       0.0     511.0
 874     1000-1059    1149.0       0.0        0.0       0.0     245.0
 50      1600-1659    1913.0       0.0        0.0       0.0     833.0
 134     1800-1859    1935.0       1.0        0.0       0.0     229.0
 9       1400-1459    1700.0       0.0        0.0       0.0     533.0
 680     0800-0859     921.0       0.0        0.0       0.0     213.0
 482     1500-1559    1728.0       0.0        0.0       0.0     604.0
 790     0600-0659     801.0       0.0        0.0       0.0     477.0
 540     1300-1359    1720.0       0.0        0.0       0.0    1276.0
 893     1900-1959    2115.0       0.0        0.0       0.0     370.0
 909     0900-0959    1214.0       0.0        0.0       0.0     526.0
 888     1700-1759    1911.0       0.0        0.0       0.0     257.0
 756     1400-1459    1649.0       0.0        0.0       0.0    1020.0
 241     0700-0759    1026.0       0.0        0.0       0.0    2585.0
 455     1000-1059    1403.0       0.0        0.0       0.0    1217.0
 426     0700-0759    1052.0       0.0        0.0       0.0    1303.0
 759     0001-0559     745.0       0.0        0.0       0.0     724.0
 499     1200-1259    1338.0       0.0        0.0       0.0     190.0
 823     1700-1759    2223.0       0.0        0.0       0.0    1628.0
 627     0700-0759     830.0       0.0        0.0       0.0     425.0
 378     1400-1459    2119.0       1.0        0.0       0.0     748.0
 745     0001-0559     656.0       0.0        0.0       0.0     501.0
 200     1600-1659    1651.0       0.0        0.0       0.0     503.0
 656     1300-1359    1458.0       0.0        0.0       0.0     335.0
 546     0700-0759    1657.0       1.0        0.0       0.0    2446.0
 205     1200-1259    1311.0       0.0        0.0       0.0      95.0
 825     1200-1259    1418.0       0.0        0.0       0.0    1069.0
 5       1500-1559    1832.0       0.0        0.0       0.0     341.0
 464     2200-2259      47.0       0.0        0.0       0.0    1119.0
 84      1800-1859    2010.0       0.0        0.0       0.0     377.0

      Unnamed: 21
 865          NaN
 55           NaN
 319          NaN
 813          NaN
 332          NaN
 56           NaN
 775          NaN
 52           NaN
 684          NaN
 311          NaN
 339          NaN
 379          NaN
 835          NaN
 733          NaN
 841          NaN
 83           NaN
 940          NaN
 105          NaN
 185          NaN
 809          NaN
 562          NaN
 874          NaN
 50           NaN
 134          NaN
 9            NaN
 680          NaN
 482          NaN
 790          NaN
 540          NaN
 893          NaN
 909          NaN
 888          NaN
 756          NaN
 241          NaN
 455          NaN
 426          NaN
 759          NaN
 499          NaN
 823          NaN
 627          NaN
 378          NaN
 745          NaN
 200          NaN
 656          NaN
 546          NaN
 205          NaN
 825          NaN
 5            NaN
 464          NaN
 84           NaN

 [50 rows x 22 columns])